* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav h1 {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

nav li a {
  text-decoration: none;
  color: #fff;
  padding-right: 1rem;
}

nav li a:hover {
  background-color: #86df9c;
  text-decoration: underline;
}

.banner {
  background-color: #86df9c;
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  margin: 0;
  background-image: url(images/green\ shapes.jpg);
}

main {
  background-color: lightgray;
  padding: 1rem;
}

.portfolio-pic {
  width: 100px;
  position: relative;
  float: left;
  margin-right: 1rem;
  /* right: 600px; */
}

.page-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.page-section > h2 {
  flex-basis: 20%;
  text-align: right;
  padding-right: 1rem;
  border-right: 3px solid gray;
}

.page-section > div {
  flex-basis: 78%;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 3px solid gray;
  background-color: skyblue;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50%-1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  padding-bottom: 20px;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item > div > a {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.one {
  background-image: url("images/projectscreenshot\ copy.png");
  background-size: contain;
  background-position: center;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
