* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav h1 {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

nav li a {
  text-decoration: none;
  color: #fff;
  padding-right: 1rem;
}

nav li a:hover {
  background-color: #86df9c;
  text-decoration: underline;
}

.banner {
  background-color: #86df9c;
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  margin: 0;
  background-image: url(images/green\ shapes.jpg);
}

main {
  background-color: #fff;
  padding: 1rem;
}

.portfolio-pic {
  width: 100px;
  position: relative;
  right: 600px;
}

.page-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}

.page-section > h2 {
  flex-basis: 20%;
  text-align: right;
  padding-right: 1rem;
  border-right: 3px solid gray;
}

.page-section > div {
  flex-basis: 78%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 3px solid gray;
  background-color: skyblue;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50%-1em);
  display: flex;
  align-items: flex-end;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 1000px;
}
